@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url('./../../assets/img/hombrecomputadora.jpg');
  background-size: cover;
  background-position: center center;
}

.container-fluid{
  background-color: #d9d8e7;
  color:#121212;
  font-family: 'Source Sans Pro', sans-serif;
}

input{
  color: #c7c7cf;
  background-color: #ffffff;
  border: solid;
}
input::placeholder{
  color: #c5c5c5;
  border-radius: 13px;
}

.btn{
  background-color: #121212;
  color: #E5E5E5;
  border-radius: 13px;
  align-items: center;
  letter-spacing: 2px;
}
.btn:hover{
  background-color: #474747;
}
a{
  color: #beb8be;
}
a:hover{
  color: #E5E5E5;
}